<Wix
    xmlns='http://wixtoolset.org/schemas/v4/wxs'
    xmlns:ui='http://wixtoolset.org/schemas/v4/wxs/ui'
>
    <Package
        Name='yy-battery-notifier-rs'
        Manufacturer='yy-tromb'
        Version='0.3.0'
        Compressed='yes'
        UpgradeCode='38C684A9-3FCB-4F7F-95DB-8675CBD0B4FA'
    >
        <SummaryInformation Description='check battery level and notify you!' />
        <MediaTemplate EmbedCab='yes' />

        <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR' />
        <ui:WixUI Id='WixUI_InstallDir' />
        <WixVariable Id='WixUILicenseRtf' Value='LICENSE.rtf' />
        <UIRef Id='WixUI_ErrorProgressText' />

        <StandardDirectory Id='ProgramFiles6432Folder'>
            <Directory Id='yy_tromb' Name='yy-tromb'>
                <Directory Id='INSTALLDIR' Name='yy-battery-notifier-rs'>
                    <File
                        Id='PROGRAM'
                        Source='./target/release/yy-battery-notifier-rs.exe'
                        Checksum='yes'
                    />
                    <File
                        Id='PROGRAM_GUI'
                        Source='./target/release/yy-battery-notifier-rs_gui.exe'
                        Checksum='yes'
                    />
                    <File Source='default_settings.toml' Checksum='yes' />
                    <File Source='README.md' Checksum='yes' />
                    <File Source='LICENSE' Checksum='yes' />
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id='ProgramMenuFolder'>
            <Directory
                Id='ApplicationStartMenuFolder'
                Name='yy-battery-notifier-rs'
            >
                <Component
                    Id='StartMenu'
                    Guid='{819C2B57-A159-4EEC-8A1B-B28366CD6667}'
                >
                    <Shortcut
                        Id='ApplicationStartMenuShortcutStartupRegister'
                        Directory='ApplicationStartMenuFolder'
                        Advertise='no'
                        Target='[INSTALLDIR]\yy-battery-notifier-rs.exe'
                        Arguments='--msgbox startup register --input'
                        WorkingDirectory='INSTALLDIR'
                        Name='Register as Startup'
                        Description='Register yy-battery-notifier-rs as startup'
                    />
                    <Shortcut
                        Id='ApplicationStartMenuShortcutStartupDelete'
                        Directory='ApplicationStartMenuFolder'
                        Advertise='no'
                        Target='[INSTALLDIR]\yy-battery-notifier-rs.exe'
                        Arguments='--msgbox startup delete'
                        WorkingDirectory='INSTALLDIR'
                        Name='Delete Startup'
                        Description='Delete yy-battery-notifier-rs startup'
                    />
                    <RemoveFolder
                        Id='CleanUpShortCut'
                        Directory='ApplicationStartMenuFolder'
                        On='uninstall'
                    />
                    <RegistryValue
                        Root='HKCU'
                        Key='Software\yy-tromb\yy-battery-notifier-rs'
                        Name='installed'
                        Type='integer'
                        Value='1'
                        KeyPath='yes'
                    />
                </Component>
            </Directory>
        </StandardDirectory>

        <Component
            Id='RegistryEntries'
            Guid='AF2A1066-9761-4C6A-914A-D401133911D6'
            Directory='TARGETDIR'
        >
            <RegistryKey
                Root='HKCU'
                Key='SOFTWARE\Classes\AppUserModelId\yy-tromb.yy-battery-notifier-rs'
            >
                <RegistryValue
                    Type='string'
                    Name='DisplayName'
                    Value='yy-battery-notifier-rs'
                />
                <RegistryValue
                    Type='string'
                    Name='IconUri'
                    Value='[INSTALLDIR]\yy-battery-notifier-rs.exe'
                />
            </RegistryKey>
            <RemoveRegistryKey
                Action='removeOnUninstall'
                Id='RemoveRegistryKey'
                Root='HKCU'
                Key='SOFTWARE\Classes\AppUserModelId\yy-tromb.yy-battery-notifier-rs'
            />
        </Component>
    </Package>
</Wix>
